---
import { SITE } from "~/config.mjs";
import { fetchContentItems } from "~/utils/fetchItems";
import Layout from "~/layouts/PageLayout.astro";

export async function getStaticPaths() {
  const posts = await fetchContentItems();

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}
const { post } = Astro.props;

const meta = {
  title: `Content Items— ${SITE.name}`,
  description: SITE.description,
};
---

<Layout meta={meta}>
  <h1 class="text-2xl font-bold">{post.title}</h1>
  <h1 class="text-lg">{post.description}</h1>
  <hr class="my-4" />

  <img
    src={post.image}
    class="max-w-lg h-full object-cover"
    alt={post.description}
  />

  {
    post.link && (
      <a
        href={post.link}
        class="inline-block mt-8 px-12 py-2 border rounded-lg hover:bg-slate-900 hover:text-slate-100"
        target="_blank"
        rel="noopener"
      >
        Visit →
      </a>
    )
  }

  <hr class="my-4" />

  <div class="prose" set:html={post.body}></div>
</Layout>
